@import "./projects/project-05/styles.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  font-family: 'Roboto', sans-serif;  
  --rose-red: #CA1551;
  --tomato: #FB4D3D;
  --mint: #03CEA4;
  --YlnMn-blue: #345995;
  --saffron: #EAC435;
}
body { 
  margin-top: 60px;
  background: linear-gradient(135deg, var(--mint), var(--YlnMn-blue));
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
}

main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
}

/* NAVBAR STYLES */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--YlnMn-blue);
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  padding: .5rem .75rem;
}

a { 
  text-decoration: none;
  color: var(--saffron);
  font-size: 1.25rem;
}

.navbar ul li:hover {
  cursor: pointer;
  background-color: var(--mint);
}

/* PROJECT SECTIONS STYLES*/

section {
  margin-bottom: .5rem;
  padding: .5rem;
  border-bottom: 2px solid var(--saffron);
}

.project__title {
  font-size: 2rem;
  font-weight: bold;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  align-content: center;
  justify-content: center;
}


/* TIC-TAC-TOE STYLES*/
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  outline: 1px solid var(--YlnMn-blue);
  text-align: center;
  font-size: 25px;
  background-color: var(--mint);
}

